[rl]
gamma = 1
correct_episode_rate = 0.1
eps_start = 0.95
eps_end = 0.05
eps_decay = 10000
batch_size = 100
start_mul = 20

train_seed_size = 10000
test_episodes = 100
epoch_episode_train = 200
n_episodes = 100000

DOUBLE_Q = False
update_ref = 1
update_factor = 0.1
learning_rate = 1e-6

sampling_size = 10
t_stop = 6
memory_size = 50000